## A new intranet

The digital workplace project aims to give everyone at Citizens Advice
easy access to the infromation, knowledge, and tools they need to do
their jobs. As part of this, we're building a new Intranet to replace
CABlink and BMIS. When it's live, you'll be able to access the new
intranet from this page.

In the meantime, you can explore what will live on the new intranet and
what should be on another platform or channel.

<a href="https://www.citizensadvice.org.uk/digital-workplace/building-a-new-intranet/Deciding-what-goes-on-the-new-intranet/" class="cads-button__primary cads-linkbutton button">
Find out where will content live
</a>