<header class="cads-header">
  <div class="cads-grid-container">
  <%= partial "partials/skip-links" %>
    <div class="cads-grid-row">
      <div class="cads-grid-col-12 cads-header-logo-row">
        <a class="logo" href="/" title="Citizens Advice intranet"></a>
      </div>
    </div>
  </div>
</header>
