<nav class="landing-menu">
  <ul class="landing-menu__list">
  <% menu_items(intranet_page ||= "home").each do |item| %>
    <li class="landing-menu__list-item">
      <%= image_tag(item["icon"], class: "landing-menu__icon") %>
      <%= link_to item["label"], item["url"], class: "landing-menu__link" %>
      <% if item["description"] %>
        <span class="landing-menu__description">
          <%= item["description"] %>
        </span>
      <% end %>
    </li>
  <% end %>
  </ul>
</nav>
