<nav class="cads-skip-links">
    <a class="cads-skip-links__link" href="#cads-main-content">
        Skip to content
    </a>
    <a class="cads-skip-links__link" href="#cads-footer">
        Skip to footer
    </a>
</nav>