<header class="cads-header">
  <div class="cads-grid-container">
    <div class="cads-grid-row">
      <div class="cads-grid-col-md-5 cads-header-logo-row">
        <a class="cads-logo" href="/"
          title="Citizens Advice homepage"></a>

        <button aria-expanded="false"
          class="cads-button__secondary cads-search-reveal cads-icon_search"
          title="Open search"></button>
      </div>
      <div class="cads-grid-col-md-7 cads-align-right cads-header-search-row">
        <ul
          class="cads-list-unordered cads-list-unordered__inline cads-header-account-panel">
          <li>
            <a href="?lang=cy">Cymraeg</a>
          </li>
          <li>
            <a href="/sign-in/url">
              Sign in
            </a>
          </li>
        </ul>
        <form action="/the/search-action-url" class="cads-search cads-hide" role="search">
          <input aria-label="Search through site content" name="q"
            type="search">
          <button
            class="cads-button__primary cads-search-button cads-icon_search"
            title="Submit search query"></button>
        </form>

      </div>
    </div>
  </div>
</header>
