@import "~@citizensadvice/design-system/scss/lib.scss";

@import "./menu";

.logo {
  margin-top: $cads-spacing-7;
  display: block;
  background: url("/images/logo.png") no-repeat;
  width: 350px;
  height: 60px;
  background-size: 100%;
}

.button {
  margin-top: $cads-spacing-7;
  border-bottom: $cads-border-width-medium solid transparent;

  &:link,
  &:visited,
  &:hover {
    color: white;
  }

  &:focus:hover,
  &:active {
    outline: none;
    color: $cads-language__focus-text-colour;
    border-color: $cads-language__focus-border-colour;
    background-color: $cads-language__focus-colour;
    box-shadow: 0 4px 0 0 $cads-language__focus-border-colour;
  }

  &:focus,
  &:focus:active {
    color: $cads-language__focus-text-colour;
  }
}

.feedback {
  margin-bottom: $cads-spacing-6;
  text-align: center;
  font-weight: bold;
}
