@import "~@citizensadvice/design-system/scss/lib.scss";

@import "./menu";

.logo {
  display: block;
  background: url("/source/images/logo.png") no-repeat;
  width: 350px;
  height: 60px;
  background-size: 100%;
}

.cads-linkbutton {
  &:visited {
    color: $cads-language__brand-primary-contrast;
  }

  &:active {
    outline: none;
    color: $cads-language__focus-text-colour;
    border-color: $cads-language__focus-border-colour;
    background-color: $cads-language__focus-colour;
    box-shadow: 0 4px 0 0 $cads-language__focus-border-colour;
  }
}
