<div class="cads-page-content">
  <div class="cads-grid-container">
    <div class="cads-grid-row">
      <main class="cads-grid-col-12">
        <h1 class="cads-page-title">Your digital workplace</h1>
        <%= partial "partials/menu" %>
        <div class="cads-prose">
          <%= partial "partials/content" %>
        </div>
      </main>
    </div>
  </div>
</div>
