<h2>Your digital workplace</h2>

<ul class="landing-menu">
  <% data.links.each do |link| %>
    <li>
      <%= link_to image_tag(link["icon"]), link["url"] %>
      <%= link_to link["label"], link["url"] %>
      <% if link["description"] %>
        <span class="description"><%= link["description"] %></span>
      <% end %>
    </li>
  <% end %>
</ul>

<h3>A new intranet</h3>

<p>
The digital workplace project aims to give everyone at Citizens Advice
easy access to the infromation, knowledge, and tools they need to do
their jobs. As part of this, we're building a new Intranet to replace
CABlink and BMIS. When it's live, you'll be able to access the new
intranet from this page.
</p>

<p>
In the meantime, youc an explore what will live on the new intranet and
what should be on another platform or channel.
</p>

<a href="https://www.citizensadvice.org.uk/EPiServer/CMS/Home" class="cads-button cads-button__primary">Find out where will content live</a>

<p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScZs_BrDSCdKPTVSSRZdRgCUTvNSzWsOJjAFSR_gAUKJp09kQ/viewform?usp=sf_link">Tell us what you think to help us improve it.</a>
</p>
