<div class="cads-page-content">
  <div class="cads-grid-container">
    <div class="cads-grid-row">
      <main class="cads-grid-col-12">
        <h1 class="cads-page-title">Your digital workplace</h1>

        <%= partial "partials/menu" %>

        <div class="cads-prose">
          <h2>A new intranet</h2>

          <p>
          The digital workplace project aims to give everyone at Citizens Advice
          easy access to the infromation, knowledge, and tools they need to do
          their jobs. As part of this, we're building a new Intranet to replace
          CABlink and BMIS. When it's live, you'll be able to access the new
          intranet from this page.
          </p>
          <p>

          In the meantime, you can explore what will live on the new intranet and
          what should be on another platform or channel.
          </p>
          <a href="https://www.citizensadvice.org.uk/EPiServer/CMS/Home" class="cads-buttonlink cads-button__primary">
            Find out where will content live
          </a>
        </div>
      </main>
    </div>
  </div>
</div>
